[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
openai = "==0.28"
pyttsx3 = "*"
pyaudio = "*"
keyboard = "*"

[dev-packages]

[requires]
python_version = "3.11"
